
menu
         {          
            margin-top: 0;
            padding-left: 0;
         }
        menu ul {
         margin-top: 0;
            padding-left: 0;
            list-style: none;
            
             display: flex;
        }
        menu ul li {
        padding-right: 20px;
        font-family: Arial, Helvetica, sans-serif;

        }
        menu ul li:first-child {
            padding-left: 20px;
        }