body {
    margin: 0;
}
nav {
    background-color: #ef9292;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 16px;
}
header, nav {
    background-color: #ef9292;
}
nav, main {
    max-width: 1200px;
    margin: 0 auto;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {

    margin-right: 20px;
    font-size: 2em;
}
.logo img {
    height: 75px;
    margin-top: 10px;
}
.page {
    margin-left: 16px;
}
h1 {
    font-size: 4em;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    margin-top: 16px;
}
.firstpos {
    display: flex;
    position: relative;
}
p {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}
.firstpos p {
    position: absolute;
    left: 350px;
    max-width: 900px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}