body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
header {
    width: 100%;
    height: 70px;
    box-sizing: border-box;
}
.header_content {
    min-width: 300px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu ul li {
    margin-right: 20px;
}
.layout {
    min-width: 600px;
}
.logo img {
    height: 50px;
    margin-top: 10px;
}
main {
    width: 100%;
}
.main_content {
    min-width: 300px;
    width: 70%;
    margin: 0 auto;
}
.pict {
    /* position: absolute; */
    /* left: 1800px; */
    padding: 0;
    margin-left: 20px;
}
a {
    font-size: 1.4em;
    text-decoration: none;
    color: black;
}

footer {
    min-height: 150px;
    width: 100%;
    box-sizing: border-box;
}

.footer_content ul {
    padding-left: 0;
}

.footer_content {
    width: 70%;
    min-width: 265px;
    /*max-width: 300px;*/
    /*width: 70%;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left {
    min-width: 265px;
    max-width: 300px;
    /* width: 700px; */
    padding: 0;
    margin: 0;
    /* font-size: 40px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -0.022em;
    text-align: left; */
}

footer ul {
    list-style: none;
}
/* .fotoramka {
    padding: 0px;
    border-radius: 6px;
    border: 3px solid grey;
    transform: rotate(15deg);
} */
.block {

        display: flex;
}
.right {
    max-width: 450px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.019em;
    text-align: left;
}
header, footer {
    background-color: #F4F8C6;
}
