body {
    margin: 0;
}
p.big{
    font-size: 1.7em;
    margin: 10px 0;
}
header, main {
    width: 70%;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    list-style: none;
    font-size: 1.6em;
}
.menu li {
    margin-right: 20px;
}
footer {
    background-color: rgb(238, 136, 136);
    height: 250px;
}
.footer_content {
    width: 70%;
    margin: auto;
    padding-top: 10px;
    color: rgb(229, 230, 219);
}
#gar {
    position: relative;
}
main #gar #blue {
    position: absolute;
    width: 200px;
    left: 98px;
    top: 65px;
}