body {
    margin: 0;
}
p.big{
    font-size: 1.7em;
}
header, main {
    width: 70%;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    list-style: none;
    font-size: 1.6em;
}
.menu li {
    margin-right: 20px;
}
footer {
    background-color: rgba(207, 138, 138, 0.925);
    height: 250px;
}
.footer_content {
    width: 70%;
    margin: auto;
    color: white;
}